.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 80px;
  height: 80px;
  float: left;
}

.App-header {
  background-color: #333;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  vertical-align: center;
}

.App-intro {
  padding: 20px;
  font-size: xx-large;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.two-column-layout {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.column {
  display: table-cell;
}

.weather-field {
  display: table-row;
  font-size: x-large;
}

.weather-cell {
  display: table-cell;
}
