name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  JAVA_VERSION: "17"
  MVS_GPG_PASSWORD: ${{ secrets.MVS_GPG_PASSWORD }}
  MVS_REPO_USERNAME: ${{ secrets.MVS_REPO_USERNAME }}
  MVS_REPO_PASSWORD: ${{ secrets.MVS_REPO_PASSWORD }}
  MAVEN_PARMS: "-B -U -V --settings .github/settings.xml --file pom.xml"
  WEBSITE_DEPLOY_PATH: '/opt/sod/dalton/server'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ]
    steps:
      - name: Fetch sources
        uses: actions/checkout@v6

      - name: Fetch CI/CD resources
        uses: actions/checkout@v6
        with:
          repository: marksoderquist/cicd
          path: .github

      - name: Configuration
        shell: bash
        run: |
          source .github/config.sh

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{env.JAVA_VERSION}}

      - name: Maven Repository Cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}

      - name: Compile
        run: |
          mvn ${{env.MAVEN_PARMS}} compile

      - name: Unit Tests
        run: |
          mvn ${{env.MAVEN_PARMS}} test

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4

      - name: Deploy Arifacts
        run: |
          mvn ${{env.MAVEN_PARMS}} deploy -Dmaven.test.skip=true

      - name: Copy Server JAR
        run: scp -B target/*.jar travis@soderquist.net:/opt/sod/store/latest/dalton

      - name: Update the Website
        run: ssh travis@soderquist.net /home/ecco/bin/update-weather-server
